/* @font-face {
  font-family: Andruha-700;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Andruha-600;
  src: url(../fonts/OpenSans-SemiBold.ttf);
} */

/* -------------------HEADER-------------------- */

/* -------------------HERO-------------------- */

/* -------------------ABOUT-------------------- */

/* -------------------PRICES-------------------- */

/* -------------------BENEFITS-------------------- */

/* -------------------BARBERS-------------------- */

/* -------------------GALLERY-------------------- */

/* -------------------ONLINE-------------------- */

/* -------------------CONTACTS-------------------- */

/* -------------------FOOTER-------------------- */
